.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
}

.number-inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  input {
    width: 150px;
    height: 25px;
  }
}

.button-component {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: royalblue;
  color: white;
  font-size: 18px;
}

.result-component {
  font-size: 24px;
  width: max-content;
  height: 40px;
  padding: 15px;
  color: white;
  background-color: royalblue;
}
